main.flex{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-size);
    
    height: 100%;

    margin: var(--gap-size);
}

main.flex > div.flex-item {
    flex-basis: 15rem;
    flex-grow: 1;
    flex-shrink: 1;

    padding: 0.5rem;
    margin: 0;

    border: 1px solid gray;
    border-radius: 5px;
}


main.flex > div.favPages {
    flex-basis: 80%;
    background: red;
}
