:root{
    --gap-size: 1rem;
    
    /* CLOCK SIZES */
    --clock-size: 16rem;
    --clock-hour-height: 10px
    
    /* COLORS */
    --clr-light-background: lightgrey;
    --clr-light-primary: lightblue;
}

html,
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    display: grid;
    align-items: center;
}