div.weather{
    background-color: lightblue;
/*     margin: 1rem; */
/*     padding: 1rem; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

div.weather{
/*     margin: 1rem; */
    padding: 1rem
}

div#aqiColor{
    width: 100%;
    height: 4rem;
    background-color: maroon;
}

#aqi{
    margin-top: auto;
}

#aqiValue {
    color: maroon;
    font-weight: bold;
}

.symbol, .value{
    font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
}
